
IPhone_sample/.DS_Store

IPhone_sample/.DS_Store

.DS_Store

.DS_Store

IPhone_sample/SoundVisualizer.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate

IPhone_sample/SoundVisualizer.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

IPhone_sample/SoundVisualizer.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate

IPhone_sample/SoundVisualizer.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

IPhone_sample/SoundVisualizer.xcodeproj/xcuserdata/mike-dutka.xcuserdatad/xcschemes/xcschememanagement.plist

IPhone_sample/SoundVisualizer.xcodeproj/xcuserdata/mike-dutka.xcuserdatad/xcschemes/SoundVisualizer.xcscheme

IPhone_sample/SoundVisualizer.xcodeproj/xcuserdata/mike.xcuserdatad/xcschemes/SoundVisualizer.xcscheme

IPhone_sample/SoundVisualizer.xcodeproj/xcuserdata/mike.xcuserdatad/xcschemes/xcschememanagement.plist
